/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COLORS */
:root {
    --bg-color: linear-gradient(170deg, #2e335a 5%, #1c1b33 95%);
    --night-color: linear-gradient(270deg, #362a84 10%, #21114b 90%);
    --day-color: linear-gradient(270deg, #356888 10%, #475daf 90%);
}

/* FONTS */
@font-face {
    src: url("../fonts/OpenSans-Bold.ttf");
    font-family: "Open Sans";
    font-weight: 700;
}

@font-face {
    src: url("../fonts/OpenSans-SemiBold.ttf");
    font-family: "Open Sans";
    font-weight: 600;
}

@font-face {
    src: url("../fonts/OpenSans-Medium.ttf");
    font-family: "Open Sans";
    font-weight: 500;
}

@font-face {
    src: url("../fonts/OpenSans-Regular.ttf");
    font-family: "Open Sans";
    font-weight: 400;
}

/* COMMON */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg-color);
    color: #1e1e1e;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    min-height: 450px;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 15px;
}

/* WEATHER */
.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
}

.icon {
    width: 60px;
    height: 60px;
}

.weather__top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 20px 30px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    color: white;
}

.weather__top.day {
    background: var(--day-color);
}

.weather__top.night {
    background:  var(--night-color);
}

.weather__city {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weather__city-name {
    width: fit-content;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}

.weather__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__info-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
}

.weather__info-left > img {
    width: 70px;
    height: 70px;
}

.weather__info-left > p {
    font-size: 20px;
    margin-top: -5px;
}

.weather__info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.weather__info-time {
    font-size: 14px;
}

.weather__info-temperature {
    font-size: 48px;
    font-weight: 700;
}

.weather__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    row-gap: 20px;
    padding: 20px;
    height: 100%;
}

.weather__property {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 15px;
}

.weather__property-icon {
    display: flex;
}

.weather__property-value {
    font-weight: 700;
    margin-bottom: 2px;
}

.weather__property-description {
    font-size: 12px;
    font-weight: 400;
    color: #5b5b5b;
}

/* LOADER */
.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader span {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--bg-color);
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader span:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loader span:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loader span:nth-child(3) {
    left: 56px;
}

@keyframes loader {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

/* POPUP */
.popup {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.popup__close-btn span {
    display: block;
    margin-top: 10px;
    width: 25px;
    height: 2px;
    background: #2e335a;
    transform: rotate(45deg);
    position: relative;
}

.popup__close-btn span:after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #2e335a;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
}

.popup__form-group {
    display: flex;
    gap: 20px;
    padding: 0 20px
}

.popup__form-input {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #2e335a;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color: #1e1e1e;

}

.popup__form-input::placeholder {
    color: #5b5b5b;
}

.popup__form-btn {
    background-color: #2e335a;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.popup__form-btn:hover {
    opacity: 0.95;
}
